@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic);

@import "partials/bootstrap";
@import "partials/utils";
@import "partials/gametable";
@import "partials/playerdash";
@import "partials/menu";
@import "partials/loader";

body {
  font-family: 'Open Sans', sans-serif;
}

a {
  color:#4177AB;
}
