@import "partials/bootstrap";

/* Table Overrides*/
.table { font-size:1.5em; }
.table>tbody>tr>td{ vertical-align: middle; }

img.img-thumbnail {
  margin-right: 5px;
  width:48px;
  height:48px;
}

/* Margin for button sets */
.action-buttons {
  .btn{
    margin-left: 5px;
    &:first-child{
      margin-left: 0;
    }
  }
}

.play-buttons .btn {
    min-width: 70px;
    &:first-child{
      @media screen and (max-width: 485px) {
        margin-bottom: 5px;
      }
    }
}

/* Add / Update form overrides */
.player-form {
  label{
    font-weight:normal;
    font-size:0.8em;
    margin-right: 10px;
  }
  .form-group {
    margin-right: 20px;
  }
  .help-block{
    font-size:13px;
  }

  &.has-errors{
    .form-group {
      vertical-align: top;
    }
  }
}

.playerStreak,
.playerScore {
  sup, sub {
    font-size:0.6em;
    position: static;
    top:0;
    text-align: center;
    opacity:0.3;
    margin: 3px;
    display:block;
    color:#333;
  }
}


.tc { text-align: center; }

.playerStreak--positive { color: #16a085;}
.playerStreak--negative { color: #c0392b;}

/* Small Screen Override */
@media screen and (max-width: 800px) {
  .hide_sm { display:none; }
}
