/* Table Overrides*/
.table {
  // font-size:1.5em;
  @include tiny {
    // font-size:1.2em;
  }
}

.table>tbody>tr>td{
  vertical-align: middle;
  background-color: #fff;
}

.table>thead>tr>th{
  font-weight:normal;
}

img.img-thumbnail {
  margin-right: 5px;
  width:48px;
  height:48px;

  @include small {
    display:block;
  }
}

/* Margin for button sets */
.action-buttons {
  .btn{
    margin-left: 5px;
    &:first-child{
      margin-left: 0;
    }
  }
}

.play-buttons .btn {
    min-width: 70px;
    &:first-child {
      @include tiny {
        margin-bottom: 5px;
      }
    }
}

/* Add / Update form overrides */
.player-form {
  label{
    font-weight:normal;
    font-size:0.8em;
    margin-right: 10px;
  }
  .form-group {
    margin-right: 20px;
  }
  .help-block{
    font-size:13px;
  }

  &.has-errors{
    .form-group {
      vertical-align: top;
    }
  }
}

.playerStreak,
.playerScore {
  sup, sub {
    font-size:0.8em;
    position: relative;
    top:-2px;
    text-align: center;
    opacity:0.3;
    margin: 0 5px;
    color:#333;
    @include small {
      top:0px;
      margin: 3px 0px;
      display:block;
    }
  }
}

.playerRatio span::after{
  content:"%";
  font-size:0.5em;
  opacity:0.5;
  vertical-align: middle;
}

.displayVal {
  font-size:1.3em;
}

.tc { text-align: center; }

.playerStreak--positive { @extend .text-success; }
.playerStreak--negative { @extend .text-danger; }

.cancelableInput{
  position: relative;
  display: block;
  a {
    position: absolute;
    right:0px;
    top:4px;
  }
}

.form-inline {
  .cancelableInput {
    display: inline-block;
    a { top:3px; }
}
}

/* Small Screen Override */
@include small {
  .hide_sm { display:none; }
  // body { font-size:12px; }
}
