/* Table Overrides*/
.table {
  @include small {
    table-layout: fixed;
    // min-width:100%;
  }
}

// ugly bootstrap selector override
.table > tbody > tr > td {
  vertical-align: middle;
  background-color: #fff;
  // outline:1px solid orange;
  padding:7px 1px;

  @include small() {
    font-size:13px;
  }
}

.table > thead > tr > th {
  font-weight:normal;
}

.img-thumbnail {
  margin-right: 5px;
  width:48px;
  height:48px;
}

@include small {
  .elo-ranking-table .img-thumbnail {
    display:block;
  }
}

/* Margin for button sets */
.action-buttons {
  .btn{
    margin-left: 5px;
    &:first-child{
      margin-left: 0;
    }
    @include tiny() {
      margin-bottom: 10px;
    }
  }
}

.play-buttons .btn {
    min-width: 70px;
    &:first-child {
      @include tiny {
        margin-bottom: 5px;
      }
    }
    @include small {
      min-width:0px;
      width:56px;
      overflow: hidden;
      padding:5px 0;
      &:first-child {
        margin-left: 0;
      }
    }
}

/* Add / Update form overrides */
.player-form {
  label{
    font-weight:normal;
    font-size:0.8em;
    margin-right: 10px;
  }
  &.form-inline .form-group {
    margin: 0 10px;
  }
  .help-block{
    font-size:13px;
  }

  &.has-errors{
    .form-group {
      vertical-align: top;
    }
  }
}

.rangeDisplay {
  sup, sub {
    font-size:0.8em;
    position: relative;
    top:-2px;
    text-align: center;
    opacity:0.3;
    margin: 0 5px;
    color:#333;
    @include small {
      top:0px;
      margin: 3px 0px;
      display:block;
    }
  }
}

.playerRatio span::after{
  content:"%";
  font-size:0.5em;
  opacity:0.5;
  vertical-align: middle;
}

.displayVal {
  font-size:1.3em;
}

.tc { text-align: center; }

.playerStreak--positive { @extend .text-success; }
.playerStreak--negative { @extend .text-danger; }

.cancelableInput{
  position: relative;
  display: block;
  a {
    position: absolute;
    right:0px;
    top:4px;
  }
}

.form-inline {
  .cancelableInput {
    display: inline-block;
    a { top:3px; }
  }
}

/* Small Screen Override */
@include small {
  .hide_sm { display:none; }
  .container-fluid {
    padding-left: 10px;
    padding-right: 10px;
  }
}

// Stop ios safari from zooming in :/
@media screen and (-webkit-min-device-pixel-ratio:0) {
  select,
  textarea,
  input {
    font-size: 16px;
  }
}
