.UtilHeader {
  // background-color: #34495E;
  background-color: #45474D;
  color:#dadadb;
  margin: 0 0 5px -15px;
  padding: 6px 20px;
  border-bottom: 2px solid #ddd;
  width: calc(100% + 30px);
  height:53px;

  h4{
    font-weight:200;
    text-align:center;
    line-height:39px;
    padding:0;
    margin:0;
    @include small() {
      text-align:left;
      max-width:70%;
      overflow-x: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .btn--util-left {
    position: absolute;
    top: 10px;
    @include small() {
      // On mobile these need to be right aligned do to UtilHeader title being left & not center.
      right:45px;
    }
  }
}

.AppMenu {
  background-color: rgba(77, 80, 87,.93);
  position: fixed;
  top: 0;
  bottom: -100px;
  right: -350px;
  width: 300px;
  padding: 2.5em 1.5em 100px;
  z-index: 100;
  box-shadow: -2px 0px 6px rgba(0,0,0,0.3);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  overflow:auto;

  -webkit-overflow-scrolling: touch;

  ul {
    padding:0;
    margin: 0;
  }

  hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid #434343;
    opacity: 0.7;
  }
}

.AppMenu__item {
  list-style-type: none;
  a{
    display: block;
    color: #cfd0d1;
    font-weight:200;
    padding: 0.8em;
    cursor:pointer;
    & > span { margin-right:7px; }
    &:hover {
      background-color: rgba(6,6,6,0.3);
      text-decoration:none;
    }
  }
}

.AppMenuTrigger {
  width: 32px;
  height: 35px;
  font-size: 24px;
  cursor: pointer;
  padding: 3px;
  display: block;
  text-align: center;
}

.AppMenuTrigger--open {
  position: absolute;
  top: 7px;
  right: 15px;
  color: #fff;
  border-radius:1px;
  &:hover {
    color:#373a47;
    background-color: #fff;
  }
  @include retina-sm() {
    // iphone being a dick. need to check other devices
    right:3px;
  }
}

.AppMenuTrigger--close:hover,
.AppMenuTrigger--close {
  position: absolute;
  top: 10px;
  right: 10px;
  color:#f7f7f7;
  background-color: #373a47;
}


.AppMenuWrapper--open {
  .AppMenu{
    right:0px;
  }
}
