.UtilHeader {
  background-color: #f7f7f7;
  margin: 0 0 15px -15px;
  padding: 5px 20px;
  border-bottom: 1px solid #e5e5e5;
  width: calc(100% + 30px);
}

.EloGraph {
  margin-top: 10px;
  margin-bottom: 30px;
}
